.courseVideoContent {
    margin: 1em 2em;
    background-color: inherit;
}

.courseVideoContent h1 {
    color: rgb(81, 81, 81);
}

.courseVideoContent h2 {
    font-size:25px;
    color: rgb(49, 49, 49);
}

.courseVideoContent_reactPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courseVideoContent_reactPlayerContent{
    width: 60% !important;
    max-width: 640px !important;
    border-radius: 10px !important;
}

